<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
  https://www.springframework.org/schema/beans/spring-beans.xsd">
  
    <bean class="com.demo.SecounProject.Employee" id="emp">
          
    </bean>
 
  <bean class="com.demo.SecounProject.Employee" id="emp1">
    
          <constructor-arg  value="22"  type="int" />
          <constructor-arg  value="meena" />
          <constructor-arg value="22000" />
          
    </bean>
      <bean class="com.demo.SecounProject.Employee" id="emp2">
    
          <constructor-arg  value="22"  type="int" />
         
        
          
    </bean>
 
</beans>
